*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    width: 100vw;
    background-color: #bbc3ce;
    font-family: 'Amiri Quran', serif;
}

#chart-area {
    width: 93rem;
    height: 46rem;
    background-color: #e5e7ed;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#title {
    position: absolute;
    left: 50%;
    top: 0.5rem;
    transform: translate(-50%);
    font-size: 1.5rem;
    color: #474862;
}

#description {
    position: absolute;
    left: 50%;
    top: 4rem;
    transform: translate(-50%);
    color: #474862;
    font-size: 1rem;
}

#legend {
    display: flex;
    position: absolute;
    bottom: 1rem;
}

.cell:hover {
    stroke: #474862;
}

.node-label {
    font-size: 0.7rem;
}

#tooltip {
    display: flex;
    justify-content: center;
    position: absolute;
    padding: 0 1rem 1rem 1rem;
    text-align: center;
    background: #474862;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 2px;
    pointer-events: none;
    line-height: 1.5rem;
    color: #e5e7ed;
    transition: 0.3s ease;
    opacity: 0;
  }


  